    <!-- navigator -->
    <div class="navbar navbar-default navbar-fixed-top header" role="navigation" 
    	data-sly-use.head="head.js"
        data-sly-use.navigator="navigator.js"
        data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}">
      <div class="container-fluid level1">
        <div class="row">
          <div class="col-md-6 col-md-offset-2 col-sm-9 col-xs-10 level1menu">
            <ul class="nav nav-tabs" role="tablist" data-sly-list.child="${navigator.level1Page.listChildren}">
              <li role="presentation" class="${child.path == navigator.level2Page.path ? 'active':''}" data-sly-test="${!child.hideInNav}"><a href="${child.path}.html">${child.title}</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-md-offset-1 col-sm-3 col-xs-2">
            <style>
            </style>
            <!--ul class="nav navbar-nav navbar-right">
              <li class="cq-cc-profile-anonymous dropdown hidden-xs">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">${'Languages' @ i18n}<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu" data-sly-list.child="${navigator.rootPage.listChildren}">
                  <li><a href="${child.path}.html" data-sly-test="${!child.hideInNav}">${child.title }</a></li>
                </ul>
              </li-->
			 <!--             <section data-sly-resource="${ @path='.', resourceType='wetelco-sites/components/content/userinfo'}" data-sly-unwrap></section> -->
            <!--/ul-->
          </div>
        </div>
      </div><!--/.level1 -->
      <div class="container-fluid level2">
        <div class="row">
          <div class="col-md-2 col-sm-2 hidden-xs">
              <section  data-sly-resource="${ @path='logo', resourceType='wetelco-sites/components/content/logo'}" data-sly-unwrap></section>
          </div>
          <div class="col-md-10 col-sm-10 col-xs-12">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

              </button>
              <div  data-sly-resource="${ @path='logo', resourceType='wetelco-sites/components/content/logo'}" class="visible-xs"></div>
            </div>
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav level2menu" data-sly-list.child="${navigator.level2Page.listChildren}" data-sly-test="${navigator.level2Page}">
                <li class="dropdown" data-sly-test="${!child.hideInNav}">
                  <a href="${child.path}.html" class="${navigator.level3Page.path != undefined && child.path == navigator.level3Page.path ? 'active':''}">
                   ${child.properties.navTitle || child.title}<span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu" data-sly-list.child1="${child.listChildren}">
                      <li><a href="${child1.path}.html" data-sly-test="${!child1.hideInNav}">${child1.title}</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right"></ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div><!--/.level2-->
    </div>
  </div>
  <!-- end of navigator -->
  <div class="clearfix"></div>
