<!--/*

  ADOBE CONFIDENTIAL
  __________________

   Copyright 2015 Adobe Systems Incorporated
   All Rights Reserved.

  NOTICE:  All information contained herein is, and remains
  the property of Adobe Systems Incorporated and its suppliers,
  if any.  The intellectual and technical concepts contained
  herein are proprietary to Adobe Systems Incorporated and its
  suppliers and are protected by trade secret or copyright law.
  Dissemination of this information or reproduction of this material
  is strictly forbidden unless prior written permission is obtained
  from Adobe Systems Incorporated.

*/-->
<div class="aem-Screens-editWrapper u-aem-Layout-aspectRatio--16x9 cq-dd-weather">
<div class="weather-panel">

<div class="weather-headline"><h1>Latest Weather</h1></div>
<div class="weather-container">
    <div class="weather-item"><p class="weather-day">Today</p><div class='icon cloudy'><div class='cloud'></div><div class='cloud'></div></div><p>Cloudy</p><p class='weather-degrees'>17 | 28</p></div>
    <div class="weather-item"><p class="weather-day">Tomorrow</p><div class='icon cloudy'><div class='cloud'></div><div class='cloud'></div></div><p>Cloudy</p><p class='weather-degrees'>17 | 28</p></div>
    <div class="weather-item"><p class="weather-day">Wednesday</p><div class='icon cloudy'><div class='cloud'></div><div class='cloud'></div></div><p>Cloudy</p><p class='weather-degrees'>17 | 28</p></div>
    <div class="weather-item"><p class="weather-day">Thursday</p><div class='icon cloudy'><div class='cloud'></div><div class='cloud'></div></div><p>Cloudy</p><p class='weather-degrees'>17 | 28</p></div>
    <div class="weather-item"><p class="weather-day">Friday</p><div class='icon cloudy'><div class='cloud'></div><div class='cloud'></div></div><p>Cloudy</p><p class='weather-degrees'>17 | 28</p></div>
</div>
</div>
</div>
