<body class="page ${currentPage.template.name}"
	data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}">
	<section
		data-sly-resource="${ @path='clientcontext', resourceType='cq/personalization/components/clientcontext'}"
		data-sly-unwrap />
	<section
		data-sly-resource="${ @path='contexthub', resourceType='granite/contexthub/components/contexthub'}"
		data-sly-unwrap />
	<sly data-sly-include="partials/header.html" data-sly-unwrap />
	<sly data-sly-include="partials/content.html" data-sly-unwrap />
	<sly data-sly-include="partials/footer.html" data-sly-unwrap />
	<sly data-sly-include="partials/footlibs.html" data-sly-unwrap />
	<section
		data-sly-resource="${ @path='timing', resourceType='foundation/components/timing'}"
		data-sly-unwrap />
	<section
		data-sly-resource="${ @path='cloudservices', resourceType='cq/cloudserviceconfigs/components/servicecomponents'}"
		data-sly-unwrap />
</body>